div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Snappy RSVP
    p.lead Sweet online RVSP engine

.container
  .row
    .col-lg-12
      h1.page-header Events:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='event in events')
        li
          a(href='#', tooltip='{{event.location}}')
            | {{event.name}}
      button.btn(ng-click='showEventForm = true') Add event

footer.footer
  .container
    p
      | Snappy RSVP 2015
